body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100%;
}
header{
    background-color: black;
    color: white;
    font-size: 12px;
    height: 55px;
}
header > h2{
    position: absolute;
    top: 10px;
    left: 70px;
}

header > img{
    position: absolute;
    height: 30px;
    width: 30px;
    padding-left: 20px;
    top: 20px;
}
.container{
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows:150px auto;
}
main{
    grid-row:2;
    position: absolute;
    top: 50px;
    left: 350px;
}
main > h1{
    font-size: 3rem;
}
#right-sidebar{
    position: absolute;
    background-color: lightgray;
    height: 100%;
    width: 250px;
    top: 63px;
    padding-bottom: 80px;
    padding-top: 30px;
    
}
button{
    position: inherit;
    top: 30px;
    left: 450px;
    height: 50px;
    border-radius: 5px;
    border-style: solid;
    border-color: #00cc66;
    color: white;
    background-color: #00cc66;
    width:250px;
    font-weight: bold;
    cursor: pointer;   
}

li{
    position: relative;
    float: left;
    padding-left: 100px;
    list-style-type: none;
    left: 50px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

label{
    position: relative;
    top: 35px;
    font-weight: bold;
}

li>a:hover{
    background-color:#3385d6 ;
    color: white;
    padding: 12px 12px 12px 12px;
    border-radius: 5px;
}

#right-sidebar>a>img{
    padding-left: 20px;
    padding-top: 20px;
    height: 30px;
    width: 30px;
}

#right-sidebar>a{
    font-size: 14px;
    display: inline-flex;
    align-items: flex-end;
}

th{
    background-color: lightgray;
}

.open-status{
    text-align: center;
    background-color: #00cc66;
    padding: 12px 12px 12px 12px;
    color: white;
    border-radius: 5px;
}

.closed-status{
    text-align: center;
    background-color: #ff4500;
    padding: 12px 12px 12px 12px;
    color: white;
    border-radius: 5px;
}

.inprogress-status{
    text-align: center;
    background-color: #e1ad01;
    padding: 12px 12px 12px 12px;
    color: black;
    border-radius: 5px;
}

#issues{
    margin-top: 60px;
    width: 1000px;
    text-align: center;
}
.issuetit{
    margin: 100px;
    text-align: left;
}
